<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}critics aren't dead{% endblock %}

{% block content %}
    <center>
    <p><br><br>
        <h3>Coming soon.
            <p><br>In the meantime, here are some links to my pages.<br><br></br>
        <a href="https://linkedin.com/in/diana-l-xie/">LinkedIn</a>
        <p><br>
        <a href="http://github.com/diana-xie">Github</a>
        <p><br>
        <a href="https://drive.google.com/file/d/1rcSakBrT1ZlgAzuWQPKnPlpY7gfbNGdq/view?usp=sharing">Resume</a>
    </p></center></h3>
{% endblock %}